@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Mona Sans';
    src: url('/public/fonts/Mona-Sans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
